# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [66]:
print("Yan Yang")

Yan Yang

<font size = "5">

Import the "pandas" and "numpy" library

In [67]:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [69]:
students = pd.read_csv("data_raw/students.csv")
students["numericgrade"] = pd.cut(students["numericgrade"], 
                                  bins = [0,54,59,64,69,74,79,82,86,92,100],
                                  labels = ['F','D','C-','C','C+','B-','B','B+','A-','A'],
                                  include_lowest = True)
students["numericgrade"]

0     C-
1      F
2      F
3      D
4     C+
5      A
6      F
7      F
8      F
9     C-
10     F
11     F
12    B-
13     A
14     F
15     F
16     F
17     D
18     B
19     F
20     F
21    A-
22     B
23     F
24    C-
Name: numericgrade, dtype: category
Categories (10, object): ['F' < 'D' < 'C-' < 'C' ... 'B' < 'B+' < 'A-' < 'A']

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [20]:
results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [14]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

print(results.dtypes)

print("Yes, the type of 'time' column agrees with the codebook. ") 
print("Listed as 'varchar(255)' in codebook which matches with its type 'object' in the dataset, " +
      "both which corresponds to a string variable.")

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object
Yes, the type of 'time' column agrees with the codebook.
Listed as 'varchar(255)' in codebook which matches with its type 'object' in the dataset, both which corresponds to a string variable.

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [47]:
# Import Data
results = pd.read_csv("data_raw/results.csv")

#Extract List of non-numeric values
non_numeric = results.query("milliseconds.str.isnumeric() == False")
list_unique_non = pd.unique(non_numeric["milliseconds"])

#Replace values
results["milliseconds"] = results["milliseconds"].replace(list_unique_non,np.nan)

#Convert column to numeric
results["milliseconds"] = pd.to_numeric(results["milliseconds"])

#Display
print(results["milliseconds"])

0        5690616.0
1        5696094.0
2        5698779.0
3        5707797.0
4        5708630.0
           ...
25835          NaN
25836          NaN
25837          NaN
25838          NaN
25839          NaN
Name: milliseconds, Length: 25840, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_lap"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [52]:
#mean and std of laps
df_aggCon_laps = results.groupby("constructorId").agg(mean_laps = ('laps', 'mean'),
                                                     sd_laps = ('laps', 'std'))

#Sort in decending order of mean laps
df_aggCon_laps.sort_values(by = "mean_laps", ascending = False)

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [65]:
#clean position column
results["position"] = results["position"].replace("\\N", np.nan)
results["position"] = pd.to_numeric(results["position"])

#Query + groupby + agg
df_subAggCon_pos = (results.query("raceId >= 150")
                                .groupby("constructorId")
                                    .agg(mean_position = ('position', 'mean'),
                                         sd_position = ('position', 'std')))
df_subAggCon_pos

               mean_position  sd_position
constructorId
1                   6.121634     4.294358
3                   7.983836     5.509701
4                   8.617834     4.388534
5                  11.430868     3.157308
6                   4.733661     3.395834
...                      ...          ...
209                16.333333     2.420002
210                13.293860     3.770574
211                 9.230769     4.030234
213                10.519608     3.842777
214                 8.763158     3.354076

[203 rows x 2 columns]