# <span style="color:darkblue"> Lecture 18 - Connecting to SQL via Python </span>

<font size = "5">

In the past lecture:

- We worked directly in SQL
- Carried out basic dataset operations

In  this lecture we will run SQL from Python

- Combine the best of both!
- Learn about escape characters!

# <span style="color:darkblue"> I. Import Libraries and Data </span>

<font size = "5">

<span style="color:red"> Before starting </span> make sure that you have the Python libraries <br>
"psycopg2" and "sqlalchemy" installed in Anaconda

<font size = "5">

Import libraries

In [4]:
# psycogpg2 helps us process SQL commands to send to the server
# sqlalchemy facilitates establishing a connection with the server

import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Import Data

In [5]:
# Import the two car racing datasets

results = pd.read_csv("data_raw/results.csv")
races = pd.read_csv("data_raw/races.csv")
circuits = pd.read_csv("data_raw/circuits.csv")

<font size = "5">

Connect to SQL server

- In the default instructions we set <br>
the password to "12345" in windows and <br>
no password for Mac
- ADJUST code accordingly!

In [10]:
# Use the connection details to your server
# These are the default settings.
# "postgresql" is a fixed argument
# If you have a different host,database, username, or password,
# change the corresponding connection details


url_server = URL.create(
    "postgresql",
    host = '127.0.0.1',
    database = 'postgres',
    username = 'postgres',
    port = 5432)

connection = create_engine(url_server)

<font size = "5">

Upload data to SQL

In [11]:
# Import the "results" table, with the name "results_sql"
# Con is an argument to specify the server connection
# "if_exists" is an option to replace the table if it already exists
# You can choose any name instead of "results_sql"

results.to_sql('results',
               con = connection,
               if_exists='replace',
               index=False)

# Import "races"
races.to_sql('races', 
             con = connection, 
             if_exists='replace',
             index=False)

102

<font size = "5">

Try it yourself!

- Upload the "circuits table" into SQL <br>
using ".to_sql()"

In [ ]:
# Write your own code

# <span style="color:darkblue"> II. "Escape" Characters </span>

<font size = "5">

- Backslash (\\) is known as an escape character
- Used for special operations on strings
- Great for working with text!

<font size = "5">

Multi-line strings (" \ ")

In [ ]:
# Use a backslash to define strins over multiple lines
# Do not include a space after "\", otherwise it won't work.
example_string = "This is a string \
defined over multiple lines"

In [ ]:
example_string

'This is a string defined over multiple lines'

<font size = "5">

"Double quotes" inside string

In [ ]:
"String \"something\" "

'String "something" '

In [ ]:
# Use a backslash + quotation 

example_double = "This will \"supposedly\" put double quotes inside a string"
print(example_double)

This will "supposedly" put double quotes inside a string

<font size = "5" >
'Single quotes' inside string

In [ ]:
# There is no need for a backslash given single quotes 

example_single = "This will 'supposedly' put single quotes inside a string"
print(example_single)

This will 'supposedly' put single quotes inside a string

<font size = "5">

Try it yourself!

- Print a string ``` SELECT "driverId" FROM results; ``` <br> 
using backslash

In [1]:
# Write your own code
commandString = "Select \"driverId\" FROM results;"
print(commandString)


#when using a language through another language
#use a intermissionary variable

Select "driverId" FROM results;

# <span style="color:darkblue"> III. Data operations </span>

<font size = "5">

- In SQL, operations are often called "queries"

<font size = "5">

Import Data from SQL

In [4]:
#connection was created earlier
pd.read_sql(text("SELECT * FROM results;"), connection)
#pd.read.sql(text(commondString), connection)

NameError: name 'connection' is not defined

In [ ]:
# Use "pd.read_sql()"
# - The first argument is string with instructions wrapped in text()
#- The second argument is the server connection

# Extract all data from a column
example1 = pd.read_sql(text("SELECT * FROM results;"), connection)

# Extract a subset of columns
example2 = pd.read_sql(text("SELECT points \
                             FROM results;"), connection)

# Subset based on a string condition
example3 = pd.read_sql(text("SELECT * \
                             FROM races \
                             WHERE name = 'Abu Dhabi Grand Prix';"), connection)


# Note: (i) Remember to include "\"  to be able to define
#           strings over multiple lines
#       (ii) We can include single quotations in the WHERE command
#            without any additional escape characters

<font size = "5">

Upper case columns

- In SQL syntax we use double quotes e.g. ``` "driverId" ```
- ```.read_sql()``` requires a string inside a string
- To do so, use escape characters, e.g.   ``` \"driverId\" ```

In [ ]:
# Select a column
example4 = pd.read_sql(text('SELECT "driverId" \
                             FROM results;'), connection)

# Compute an aggregate statistic
example5 = pd.read_sql(text("SELECT AVG(points) as mean_points \
                             FROM results \
                             GROUP BY \"driverId\" ;"), connection)

<font size = "5">

Try it yourself!

- Select "nationality" and "constructorId" from results <br>

In [ ]:
# Write your own code

# <span style="color:darkblue"> IV. Additional Material </span>

<font size = "5">

More about SQL syntax

https://www.w3schools.com/sql/

 <span style="color:red"> How are things stored?: </span> <br>

- Operations like uploading, creating, dropping etc. <br>
are permanent an are available for other server users <br>
who access the data later.
- Commands to view the dataset <br>
(most of what we did today) <br>
are only available during your session <br>
and won't make any lasting changes